node_modules
.DS_Store
dist
tmp
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
hugo.exe
hugo.darwin
hugo.linux
/.hugo_build.lock
front-matter.json
/.hugo_cache/
/.hugo_deps/
.vscode
.frontmatter/database